.square {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    /* width, height: 30px; */
}

.boardLvl {
    display: inline-block;
    border: solid 5px black;
    margin: 5px;
    /* need this since inline-block of square creates space between divs */
    font-size: 0px;
}

.chessImg {
    /* center image horizontally and vertically */
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
}

#darkCol {
    /* animation: spinny 1s; */
    background-color: brown;
}

#lightCol {
    /* animation: spinny 2s; */
    background-color: beige;
}

@keyframes spinny {
    0% {
        transform: rotateY(180deg)
    }
    100% {
        transform: rotate(0deg)
    }
}