#selec {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    background-color: #303030;
    text-align: center;
    padding: 0;
    opacity: 1;
}

.splashContent {
    width: 20vw;
    height: 50vh;
    margin: 24vh 37vw;
    padding: 1vh 3vw;
    position: absolute;
    z-index: 2;
}

.splashBackground2 {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: radial-gradient(rgba(0,0,0,0.20), #000000) no-repeat center;
    z-index: -1;
    overflow: hidden;
}

.splashBackground {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: url("../img/kd.svg") no-repeat center;
    background-size: auto 100%;
    animation: spin 40s linear infinite;
    z-index: -1;
    filter: opacity(15%);
}

.welcomeButton {
    margin: 0;
    padding: 0.6em 3vw;
    background-color: #292929;
    border: 0;
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.15s ease-out;
}

.welcomeButton:hover{
    cursor: pointer;
    color: #292929;
    background-color: #E6E6E6;
}

h4 {
    font-weight: 300;
    margin: 0;
}

@keyframes spin {
    0% { transform: rotateY(-15deg) rotateX(50deg) rotateZ(31deg);}
    100% { transform: rotateY(345deg) rotateX(770deg) rotateZ(1111deg);}
}

.modeContainer {
    padding: 0 2vw;
}

td > p {
    margin: 0.1em;
}

#board {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(64,64,64,1) 48%, rgba(0,0,0,1) 100%);
    top: 0;
    position: fixed;
}

#panel {
    display: none;
    position: fixed;
    /* margin: 25px; */
    /* left: 200px; */
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 40vmin;
    background-color:#363434c0;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    border-radius: 0 1vmin 0 0;
}

.captureBox {
    /* position: absolute; */
    display: flex;
    margin-left: -0.3vw;
    /* background-color: white; */
    height: 3.3vh;
    width: auto;
}

#panel p {
    padding: 0;
    margin: 0;
}

#whitePlayer, #blackPlayer {
    margin: 20px;
}

/* #whitePlayer img {
    filter: drop-shadow(1px 1px 0px rgb(255, 255, 255)) 
            drop-shadow(-1px -1px 0px rgb(255, 255, 255))
            drop-shadow(1px -1px 0px rgb(255, 255, 255))
            drop-shadow(-1px 1px 0px rgb(255, 255, 255));
} */

.capturedPiece {
    /* margin: 0  5px 0 5px; */
    height: 100%;
    width: auto;
    /* width: 7%; */
    height: auto;
}

#movesPanel {
	display: none;
	height: 50%;
	width: 30%;
	top: 0px;
	right: 0px;
	position: fixed;
	overflow-y: auto;
}


#movesBox {
	position: relative;
	width: 100%;
	border-collapse: collapse;
}

#movesBox:td, #movesBox:th {
	padding: 1px;
}

/* change scroll bar for history */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.397);
}

th {
	font-family: Heebo;
	font-size: 30px;
	color: #ddd;
	position: -webkit-sticky;
	position: sticky;
	text-align: center;
	top: 0;
	z-index: 10;
	background: #333;
	opacity: 0.75;
}

.square {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    position: relative;
    /* width, height: 30px; */
    pointer-events: none;
}

.boardLvl {
    display: inherit; /* inherit for vertical display / stacking */
    border: solid 10px #242424;
    margin: 5px;
    /* need this since inline-block of square creates space between divs */
    font-size: 0px;
    /* filter: drop-shadow(-2px 2px 2px rgba(34, 34, 34, 0.678)); */
    /* animation: spinny 1s; */
    margin-left: 0%;
    box-shadow: 5px 9px 8px -1px rgba(0,0,0,0.57);
    transition: 0.2s;
    animation: comein 20s;
    opacity: 0;
}

@keyframes comeFromLeft {
    0% {
        margin-right: 1000px;
        opacity: 0%;
    }
    100% {
        margin-right: 0;
        opacity: 100%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        width: 95%;
        height: 95%;
    }
}

.chessImg {
    /* center image horizontally and vertically */
    position: absolute;
    left: 50%;
    top: 50%;
    width: 95%;
    height: 95%;
    z-index: 3;
    /* disable highlight on image */
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* animation: fadeIn s  */
    filter: blur(0) drop-shadow(2px 2px 2px rgba(34, 34, 34, 0.527));
    /* filter: drop-shadow(0px 0px 5px rgba(255, 238, 0, 0.527)); */
    transform: translate(-75%, -90%) rotateX(52deg) rotateZ(5deg) skew(22deg) scale3d(1.0, 3.0, 1.0);
    opacity: 0;
    /* transition: 1s; */
    
}

.chessImgFlipped {
    transform: translate(-20%, -0%) rotateX(52deg) rotateZ(5deg) skew(22deg) scale3d(1.0, 3.0, 1.0) rotateZ(180deg);
}

.pieceHitbox {
    position: absolute;
    pointer-events: auto;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/* red glow to show that the king is checked */
#checked {
    filter: drop-shadow(0px 0px 5px rgb(255, 0, 0)) drop-shadow(0px 0px 10px rgba(255, 0, 0, 0.904)) drop-shadow(0px 0px 15px rgba(255, 0, 0, 0.87));
}

.darkCol {
    /* animation: spinny 1s; */
    /* background-color: rgb(162, 110, 91); */
    background-color: rgb(221, 169, 115);
}

.lightCol {
    /* animation: spinny 1s; */
    /* background-color: #ebd1b9; */
    background-color: rgb(250, 212, 164);
}

.legalTint {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.568);
    z-index: 2;
    pointer-events: auto;
}

.removeLegal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.lastMoveTint {
    /* display: relative; */
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 217, 0, 0.397);
    pointer-events: none;
}

.pieceSelectTint {
    /* display: relative; */
    width: 100%;
    pointer-events: auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 255, 64, 0.397);
}

#promotePanel {
    display: none;
    margin: 0;
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.682);
}

#pieceHolder {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
}

.promoteImg {
    /* position: fixed; */
    width: 7em;
    margin: 1em;
    /* height: 20%; */
    transition: 0.5s;
    /* filter: drop-shadow(0px 0px 10px rgba(255, 251, 0, 0.527)); */
}

.promoteImg:hover {
    /* width: 8em; */
    background-color: rgba(255, 255, 255, 0.349);
}

#playAgain {
	position: fixed;
	display: none;
    top: 7vh;
    left: 1vw;
}

.playAgainButton {
    margin: 0;
    padding: 0.5vh 2vw;
    background-color: #292929;
    color: #FFFFFF;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.15s ease-out;
}

.playAgainButton:hover{
    cursor: pointer;
    color: #292929;
    background-color: #E6E6E6;
}

#statusContainer {
	display: none;
}

#status {
	font-size: 4em;
	color: white;
	position: fixed;
	text-align: right;
    bottom: -4px;
    right: 0;
	z-index: 10;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 0.8em;
    font-weight: 500;
    opacity: 0.5;
}

@keyframes spinny {
    0% {
        transform: rotateY(180deg)
    }
    100% {
        transform: rotate(0deg)
    }
}


/* Radio Buttons CSS */
/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
/* [type=radio]:checked + img {
    outline: 2px solid #f00;
} */

/* Radio button hover */
#rad1 {
    width: 42px;
    height: 42px;
    background: url("../img/kd.svg");
    transition: all 0.15s ease-out;
}
#rad1:hover {
    background: url("../img/kl.svg");
    cursor: pointer;
}
[type=radio]:checked + #rad1 {
    background: url("../img/kl.svg");
}

#rad2 {
    width: 42px;
    height: 42px;
    background: url("../img/nd.svg");
    transition: all 0.15s ease-out;
}
#rad2:hover {
    background: url("../img/nl.svg");
    cursor: pointer;
}
[type=radio]:checked + #rad2 {
    background: url("../img/nl.svg");
}

#rad3 {
    width: 42px;
    height: 42px;
    background: url("../img/rd.svg");
    transition: all 0.15s ease-out;
}
#rad3:hover {
    background: url("../img/rl.svg");
    cursor: pointer;
}
[type=radio]:checked + #rad3 {
    background: url("../img/rl.svg");
}

#rad4 {
    width: 42px;
    height: 42px;
    background: url("../img/qd.svg");
    transition: all 0.15s ease-out;
}
#rad4:hover {
    background: url("../img/ql.svg");
    cursor: pointer;
}
[type=radio]:checked + #rad4 {
    background: url("../img/ql.svg");
}


.colourSelect {
    width: 18vw;
    margin: 0 1vw;
    border-collapse: collapse;
}

.colourSelect td {
    padding: 1vh 0 0 0;
}

.colourSelect div {
    margin: 0 0.5vw;
}

#radWhite {
    position: relative;
    width: 5vw;
    height: 5vw;
    background: url("../img/pl.svg") no-repeat center, #292929;
    transition: all 0.2s ease;
    border-radius: 0.2em;
    box-sizing: border-box;
}
#radWhite:hover {
    background: url("../img/pl.svg") no-repeat center, #2d2d2d;
    cursor: pointer;
}
[type=radio]:checked + #radWhite {
    background: url("../img/pl.svg") no-repeat center, #292929;
    border: 3px solid #e0e0e0;
    box-shadow: 0 0 0 3px rgb(127, 166, 80);
}

#radRand {
    position: relative;
    width: 5vw;
    height: 5vw;
    vertical-align: middle;
    background: url("../img/mixed.svg") no-repeat center, #292929;
    transition: all 0.2s ease;
    border-radius: 0.2em;
    box-sizing: border-box;
}
#radRand:hover {
    background: url("../img/mixed.svg") no-repeat center, #2d2d2d;
    cursor: pointer;
}
[type=radio]:checked + #radRand {
    background: url("../img/mixed.svg") no-repeat center, #292929;
    border: 3px solid #e0e0e0;
    box-shadow: 0 0 0 3px rgb(127, 166, 80);
}

#radBlack {
    position: relative;
    width: 5vw;
    height: 5vw;
    background: url("../img/pd.svg") no-repeat center, #292929;
    transition: all 0.2s ease;
    border-radius: 0.2em;
    box-sizing: border-box;
}
#radBlack:hover {
    background: url("../img/pd.svg") no-repeat center, #2d2d2d;
    cursor: pointer;
}
[type=radio]:checked + #radBlack {
    background: url("../img/pd.svg") no-repeat center, #292929;
    border: 3px solid #e0e0e0;
    box-shadow: 0 0 0 3px rgb(127, 166, 80);
}

#selectWarning {
    position: fixed;
    transform: translateY(calc(-2.5vw - 0.8em));
    left: calc(50% - 5.75vw + 0.15em);
    background: #0d0d0d;
    padding: 0.5vw;
    visibility: hidden;
    transition: all 0.2s ease;
    opacity: 0;
    border-radius: 0.3vw;
    cursor: not-allowed;
}

#selectWarning p {
    font-size: 0.5vw;
    margin: 0;
}

#barBorder {
    position: fixed;
    height: 3vh;
    width: 20vw;
    top: 2vh;
    left: 1vw;
    border: 2px solid #dbdbdb;
    background-color: #171717;
    transition: all 0.2s ease-out;
}

#progressBar {
    height: 3vh;
    width: 50%;
    background-color: #dbdbdb;
    transition: all 0.2s ease-out;
}

#scoreIndicator {
    color: #dbdbdb;
    mix-blend-mode: difference;
    margin: 0;
    padding-left: 0.5em;
    line-height: calc(3vh + 2px);
    font-weight: 300;
    position: fixed;
}

body {
    font-family: 'Heebo', sans-serif;
    color: white;
    height: 100vh;
    margin: 0 !important;
}
